@media screen and (min-width: 720px){
    .main-banner span{
        letter-spacing: 5px;
            }
    .self-intro{
        flex-wrap: nowrap;
        height: 100vh;
    }
    .self-intro .right, .self-intro .left{
        flex: 1;  
    }
    .self-intro .left .arrow-button{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: left;
        align-items: baseline;
        padding: 20px;
    }
    .self-intro .left .arrow-button .normal-arrow{display: block;}
    .self-intro .left .arrow-button .responsive-arrow{display: none;}

    .tech-info{
        flex-wrap: nowrap;
        height: 100vh;
    }
    .tech-info .right, .tech-info .left{
        flex: 1;  
    }
}