@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}
:root{
    --verde :#47be53; 
    --verde_escuro: #31923b; 
    --verde_estranho: #649f6a;
    --verde_claro: #a9fcaa;
}

main{
    max-width: 1280px;
    min-width: none;
    margin: auto;
}

header img{
    width: 100%;
}

header{
    text-align: center;
    padding: 20px;
}
/* MENU =-=-==-=-=- */
.menu{
    display: flex;
    box-shadow: 0px 2px 10px #2521219b ;
}
.menu img{
   justify-content: flex-start;
   padding: 15px;  
}
.menu ul{
    justify-content: flex-end;
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 15px;  
    align-items: center;
    width: 100%;
}
.menu a{
    text-decoration: none;
    color: #252121;
    position: relative;
}

.menu a:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #47be53;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.menu a:hover:after{
    width: 100%;
    left: 0;
}

.ttl{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ttl h2{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;;
    font-weight: 600;
}
hr{
    width: 20%;
    background-color: #252121;
    height: 2px;
}
article p{
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    font-size: 110%;
}

/* FOOTER */
footer{
    width: 100%;
    bottom: 0;
    background-color: #6fc678;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
}

footer .icon + .icon{
    margin-left: 20px;
}

.drt a{
    margin-right: -20%;
}
footer i{
    font-size: 140%;
    color: #ffffffbc;
    transition: all 0.2s
}

.eqd, .drt{
    flex: 50%;
}
.drt{
    display: flex;
    justify-content: flex-end;
}

.eqd ul{
    margin-top: 2%;
    list-style: none;
    line-height: 28px;
}
footer a{
    text-decoration: none;
    color: #ffffffbc;
    transition: all 0.2s
}
footer i:hover, footer a:hover{
    color: #ffffff;
    transform: 0.2s;
}

/* RESPONSIVO */
@media(max-width: 800px) {
    .menu img{
        display: none;
    }
    .menu{
        justify-content: center;
    }
    .menu ul{
        justify-content: center;
    }
.eqd, .drt{
    flex: 100%;
    text-align: center;
 }
 .drt{
     display: flex;
     justify-content: center;
 }
 .drt a{
     display: none;
 }
}