@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #363434;
}
/* MENU ------- */
.menu{
    width: 100%;
    padding: 14px;
}

.menu ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-right: 10%;
}

.menu a{
    text-decoration: none;
    color: #ffffffa6;
    font-family: 'Roboto Mono', monospace;
    transition: color 0.5s;
    padding-left: 20px;
}

.menu a:hover{
    color: #fff;
    transform: 0.5s;
}

  #menu {
    z-index: 2;
    font-family: 'Roboto Mono', monospace;
  }
  
  #menu-bar {
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
  }
  
  .bar {
    height: 5px;
    width: 100%;
    background-color: #ffffff;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  #bar1 {
    transform: translateY(-4px);
  }
  
  #bar3 {
    transform: translateY(4px);
  }
  
  .nav {
    transition: 0.3s ease;
    display: none;
  }
  
  .nav ul {
    padding: 0 22px;
  }
  
  .nav li {
    list-style: none;
    padding: 12px 0;
  }
  
  .nav li a {
    color: #ffffffa6;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.5s;
  }
  
  .nav li a:hover {
    color: #fff;
    transform: 0.5s;
  }
  
  .menu-bg, #menu {
    top: 0;
    left: 0;
    position: absolute;
  }
  
  .menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, #732ca3, #4d1672);
    border-radius: 50%;
    transition: 0.3s ease;
  }
  
  .change {
    display: block;
  }
  
  .change .bar {
    background-color: white;
  }
  
  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  
  .change #bar2 {
    opacity: 0;
  }
  
  .change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
  }
  
  .change-bg {
    width: 520px;
    height: 460px;
    transform: translate(-60%,-30%);
  }

.pe{
    background-color: rgb(36, 35, 40);
    width: 205px;
    height: 30px;
    border-radius: 30px;
    margin-left: -40%;
}

.pe input{
    outline: 0 none;
    border: 0 none;
    color: #ffffff;
    background-color: transparent;
    margin-left: 5%;
    margin-top: 2%;
}

.pe input::placeholder{
    color: #ffffff64;
}

.pe i{
    color: #ffffffa6;
    transition: color 0.5s;
    cursor: pointer;
    margin-top: 3%;
}

.pe i:hover{
    color: #fff;
    transform: 0.5s;
}

/* PRINCIPAL */
main{
    margin: auto;
    max-width: 1280px;
    min-width: none;
}
.bonito{
    display: flex;
    flex-wrap: wrap;
}
.eqd{
    flex: 50%;
    background-image: url(fotos/pexels-lucie-liz-3165335.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}
.eqd h1{    
    margin-top: 28%;
    text-shadow: #121213 2px 3px 5px;
    margin-bottom: 1%;
}
.linee{
    width: 50%;
    border: #ffffff solid 1.8px; 
    margin: auto;
}
.eqd p{
    margin-bottom: 30%;
    margin-top: 1%;
    text-shadow: #121213 2px 3px 5px;
}
.drt{
    flex: 50%;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}
.drt h1{
    font-weight: 500;
}

.drt input{
    color: #1f1c1c;
    outline: 0;
    border: 0;
    background-color: #e2e2e9;
    height: 35px;
    width: 55%;
    margin-top: 4%;
    padding-left: 2%;
    font-family: 'Roboto Mono', monospace;
}
.drt input::placeholder{
    color: #717176d8;
    font-family: 'Roboto Mono', monospace;
}
.drt button{
    cursor: pointer;
    border: 0;
    background-color: #e2e2e9;
    color: #1f1c1c;
    height: 35px;
    width: 55%;
    margin-top: 4%;
    padding-left: 2%;
    font-family: 'Roboto Mono', monospace;
    transition: all 0.3s;
}
.drt button:hover{
    background-color: #1f1c1c;
    color: #e2e2e9;
    transform: 0.3s;
}
.pass{
    background-color: #e2e2e9;
    height: 35px;
    width: 55%;
    margin: auto;
    margin-top: 4%;
}
#pass{
    background-color: transparent;
    height: 12px;
    width: 87%;
}
    .olho {
    cursor: pointer;
    width: 10%;
    float: right;
  }

/* FOOTER */
.footer{

	background-color: #121213;
	width: 100%;
	height:100%;
	float: left;
	font-size: 18px;
	padding: 50px 10px 50px 10px;

}

.footer .left{ 

	width:100%; 
	float:left; 
	border-bottom:1px #222424 solid;
	border-right:0; 
	margin-bottom:20px; 
    padding-bottom:20px;
}

.footer .title-footer {

	color: #ffffff;
	font-family: 'DM Sans', sans-serif;
	font-weight: initial;
    font-size:26px;
    width:100%;
    float:left;
    margin-bottom:15px;

}

.footer .title-footer span{

	color:  #2fcacf;
	font-family:'DM Sans', sans-serif;
	font-weight: bold;

}

/* Footer links */

.footer .links{
	
	width: 100%;
	float: left;
	color:  #ffffff;
	margin-bottom: 20px;
	padding: 0;

}

.footer .links a{

    display: block;
    line-height: 33px;
    text-decoration: none;
    color: #fff;
    font-family:'DM Sans', sans-serif;
    font-size:16px;
    transition:0.3s;


}

.footer .links a:hover { color:#732ca3; }

.footer .Copyright{

	font-family:'DM Sans', sans-serif;
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 10px;

}

/*Rede Sociais*/

.footer .footer-icons{
	
	width:100%;
	float:left;
	margin-bottom:20px;
}

.footer .footer-icons a{

	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 50px;
    font-family:'DM Sans', sans-serif;
	font-size: 20px;
	color: #ffffff;
	text-align: center;	
	line-height: 35px;
	margin-bottom: 5px;
	transition:0.3s;

}

.footer .footer-icons a:hover{ background-color:#732ca3; }

/*Right*/

.footer .right   { width:100%; float:left; }
.footer .right p {

	font-family: 'DM Sans', sans-serif;
	font-weight: initial;
	display: inline-block;
	vertical-align: top;
	font-size: 30px;
	color: #ffffff;

}

/*formulario*/

.footer form { width:100%; float:left; }

.footer form input,
.footer form textarea{

	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;
    outline: none;
	font: inherit;
	font-size: 14px;
	font-family:'DM Sans', sans-serif;
	font-weight: normal;
	color:  #d1d2d2;
	width: 100%;
	padding: 18px;

}

.footer ::-webkit-input-placeholder {
	color:  #5c666b;
}

.footer ::-moz-placeholder {
	color:  #5c666b;
	opacity: 1;
}

.footer :-ms-input-placeholder{
	color:  #5c666b;
}


.footer form input{
	
	width: 100%;
	height: 55px;
	float: left;
	margin-bottom: 15px;

}

.footer form textarea{
	height: 100px;
	margin-bottom: 20px;
}

.footer form .btn{

	border-radius: 3px;
	background-color:  #1f2022;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-family: 'DM Sans', sans-serif;
	font-weight: bold;
	float: left;
	cursor: pointer;
    transition: 0.3s;


}

.footer form .btn:hover { background-color:  #732ca3; }

/*Responsive*/
@media (min-width: 1280px) {

	.footer               { padding: 100px 50px 50px 100px; }
	.footer .Copyright    { font-size: 16px; }
	.footer form input,
	.footer form textarea { width: 100%; float:left; }
	.footer form button   { padding: 10px 35px; }

}

@media (min-width: 768px) {
	
	.footer .left         { width:48%; border-bottom:0; }
	.footer .right        { width:48%; padding-left: 4%; border-left: 1px #222424 solid; } 
	.footer form          { margin-top: 30px; }
	.footer form          { display: block; }
	.footer form button   { float: none; }

}
    .line{
        max-width: 100%;
        border: solid 1.5px hsla(0, 0%, 100%, 0.495);;
        margin-bottom: 1%;
    }
    
    @media (max-width: 768px) {
        .menu{
            display: none;
        }
       
    }
    @media (max-width: 800px) {
        .eqd, .drt{
            flex: 100%;
        }
    }
    @media(min-width: 1200px){
        #menu{
            display: none;
        }
    }
    @media(max-width: 1200px){
        .menu{
            display: none;
        }
    }
    ::selection{
        background-color: #732ca3;
        color: #fff;
    }