@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@300&display=swap');

:root{
    --rosa_basico_escuro: rgb(163, 89, 89);
    --rosa: #E3CCCC;
    --rosa_cinza: #c1a7a7;
    --branco: #ffff;
    --escuro: #130303;
    --rosa_sla:#7c6770;
    --rosa_sla_claro: #887176;
    --rosa_mt_claro: #ebe5e5;
    --rosa_estranho: #baa9a9;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
}

main{
    margin: auto;
    max-width: 1280px;
    min-width: none;
    display: flex;
}
/*   menu  */
.menu{
    max-width: 100%;    
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 10px #cdcdcd;
    font-family: 'Inter', sans-serif;
    padding: 10px;
}

.menu ul{
    justify-content: flex-end;
    display: flex;
    list-style: none;
    padding: 5px;
    padding-left: 90px;
    gap: 4rem;
}
      

.menu a{
    text-decoration: none;
    color: rgb(31, 27, 27);
    transition: all 0.5s;
}

.menu a:hover{
    color: var(--rosa_basico_escuro);
    transform: 0.5s;
}

.img_menu{
    width: 10%;
    margin-left: -65%;
}

/* botão de pesquisa */
.menu .pesquisa input{
    background-color: #ffffff00;
    border: 0 none;
    outline: 0;
    border-bottom: solid 1.8px var(--rosa_sla);
    width: 100%;
}

.menu .pesquisa input::placeholder{
    color: #c9b8b8;
    font-family: 'Inter', sans-serif;
}

.menu .pqs {
    position:absolute;
    top:0; right:0;
    z-index:10;
    background:transparent;
    border: 0 none;
    outline: 0;
    cursor: pointer;
    transition: color 0.5s;
  }

.menu .pqs:hover{
    color: var(--rosa_basico_escuro);
    transform: 0.5s;
  }

.menu .pesquisa{
    position: relative;
    width: 200px;
}

/* fim do botão de pesquisa */

/* MENU RESPONSIVO */
:root {
    --menu-size: 250px;
}

#btnMenu {
    cursor: pointer;
    padding: 5px;
    transition: all 0.5s;
}

#btnMenu:hover {
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(163, 89, 89);
}

#btnMenu:active {
    background-color:rgb(105, 57, 57);;
}

#btnClose {
    padding: 8px;
    background-color: rgb(218, 168, 168);
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: 0 none;
}

#btnClose:active {
    background-color: rgb(151, 73, 73);
}

.menul {
    font-family: 'Inter', sans-serif;
    position: fixed;
    top: 0;
    width: var(--menu-size);
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-right: solid 2px rgb(218, 168, 168);
}

.menul ul {
    list-style: none;
}

.menul ul li {
    display: block;
}

.menul ul li a {
    transition: background 0.3s;
    display: block;
    color: #1e1717;
    font-size: 19px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px;
}

.menul ul li a:hover {
    background-color: rgb(239, 239, 239);
}

.effect {
    transition: margin 0.4s;
}


/* PÁGINA CARRINHO */


.drt{
    width: 50%;
    float: left;
    font-family: 'Inter', sans-serif;
}

.eqd{
  width: 50%;
  float: left;
}

.drt .end{
    border: 0 none;
    outline: 0 none;
    border-bottom: 1.5px solid black;
    width: 60%;
}

.drt button{
    border: 0 none;
    cursor: pointer;
    background-color: var(--rosa);
    width: 30%;
    height: 45px;
    border-radius: 15px;
    margin-top: 5%;
    transition: background-color .3s;
    margin-left: 37%;
}


.drt button:hover{
    background-color: var(--rosa_cinza);
    transform: .3s;
}


.drt p{
    font-size: 140%;
    margin-left: 16%;
    margin-top: 5%;
}

.drt .titulo{
    font-size: 160%;
    margin-left: 45%;
    margin-top: 3%;
}


.drt .bb{
    margin-left: 20%;
    margin-top: 5%;
}

.banner_cpm{
    background-image: url(fotos/fundo_carrinho.jpg);
    background-size: 100% ;
    background-repeat: no-repeat;
}

.container_carrinho{
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
}

.card_carrinho{
    margin-top: 24%;
    margin-bottom: 17%;
    margin-left: 11%;
    background-color: var(--branco);
    width: 60%;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 1px #d4d4d4;
}

.img_card{
    display: flex;
    justify-content: space-between;
}
.bq{
    width: 40%;
    border-radius: 10px;
    margin-top: 8%;
    margin-left: 5%;
    box-shadow: 0px 1px 10px 1px #d4d4d4;
}

.txt_card{
    padding-left: 50%;
    margin-top: -36%;
}


@media (min-width: 768px) {
    #btnClose {
        display: none;
    }
}

  @media screen and (max-width: 800px){
        .menu{
            display: none;
        }
  }
  @media screen and (max-width: 1000px){
    .img_menu{
        display: none;
    }
}
    @media screen and (max-width: 1200px){
        .img_info{
            display: none;
        }
    }
    @media screen and (min-width: 800px){
        #btnMenu{
            display: none;
        }
        .menul{
            display: none;
        }
    }

    @media screen and (min-width: 1300px){
        
        .img_menu{
            display: none;
        }

    }
/* DETALHES PARA DEIXAR BONITINHO ------------------ */
::selection{
    background-color: var(--rosa_cinza);
    color: white;
}